[Unit]
Description=Flask App
After=network.target

[Service]
Type=simple
User=${USER}
WorkingDirectory=/home/${USER}/app
Environment=PATH=/home/${USER}/app/venv/bin
ExecStart=/home/${USER}/app/venv/bin/gunicorn --bind 0.0.0.0:5001 --workers 1 --timeout 120 app:app
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
